<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.ac.kopo.strike.model.Member" alias="Member"/>
		<typeAlias type="kr.ac.kopo.strike.model.Game" alias="Game"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/member.xml"/>
		<mapper resource="mybatis/game.xml"/>
	</mappers>
</configuration>